/Calculadora/nbproject/private/
/Calculadora/build/
/Primo/nbproject/private/
/Primo/build/
/Primo heranca atributos/dist/
/Triangulos/nbproject/private/
/Triangulos/build/
/CalculoFatorial/nbproject/private/
/CalculoFatorial/build/
